# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/build/
/linux
/windows
# Web related
lib/generated_plugin_registrant.dart

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release
.local-chromium/970485/chrome-linux/chrome
.local-chromium/970485/chrome-linux/chrome_100_percent.pak
.local-chromium/970485/chrome-linux/chrome_200_percent.pak
.local-chromium/970485/chrome-linux/chrome_crashpad_handler
.local-chromium/970485/chrome-linux/chrome_sandbox
.local-chromium/970485/chrome-linux/chrome-wrapper
.local-chromium/970485/chrome-linux/icudtl.dat
.local-chromium/970485/chrome-linux/libEGL.so
.local-chromium/970485/chrome-linux/libGLESv2.so
.local-chromium/970485/chrome-linux/libvk_swiftshader.so
.local-chromium/970485/chrome-linux/libvulkan.so.1
.local-chromium/970485/chrome-linux/nacl_helper
.local-chromium/970485/chrome-linux/nacl_helper_bootstrap
.local-chromium/970485/chrome-linux/nacl_irt_x86_64.nexe
.local-chromium/970485/chrome-linux/product_logo_48.png
.local-chromium/970485/chrome-linux/resources.pak
.local-chromium/970485/chrome-linux/v8_context_snapshot.bin
.local-chromium/970485/chrome-linux/vk_swiftshader_icd.json
.local-chromium/970485/chrome-linux/xdg-mime
.local-chromium/970485/chrome-linux/xdg-settings
.local-chromium/970485/chrome-linux/ClearKeyCdm/_platform_specific/linux_x64/libclearkeycdm.so
.local-chromium/970485/chrome-linux/MEIPreload/manifest.json
.local-chromium/970485/chrome-linux/MEIPreload/preloaded_data.pb
.local-chromium/970485/chrome-linux/locales/am.pak
.local-chromium/970485/chrome-linux/locales/am.pak.info
.local-chromium/970485/chrome-linux/locales/ar-XB.pak
.local-chromium/970485/chrome-linux/locales/ar-XB.pak.info
.local-chromium/970485/chrome-linux/locales/ar.pak
.local-chromium/970485/chrome-linux/locales/ar.pak.info
.local-chromium/970485/chrome-linux/locales/bg.pak
.local-chromium/970485/chrome-linux/locales/bg.pak.info
.local-chromium/970485/chrome-linux/locales/bn.pak
.local-chromium/970485/chrome-linux/locales/bn.pak.info
.local-chromium/970485/chrome-linux/locales/ca.pak
.local-chromium/970485/chrome-linux/locales/ca.pak.info
.local-chromium/970485/chrome-linux/locales/cs.pak
.local-chromium/970485/chrome-linux/locales/cs.pak.info
.local-chromium/970485/chrome-linux/locales/da.pak
.local-chromium/970485/chrome-linux/locales/da.pak.info
.local-chromium/970485/chrome-linux/locales/de.pak
.local-chromium/970485/chrome-linux/locales/de.pak.info
.local-chromium/970485/chrome-linux/locales/el.pak
.local-chromium/970485/chrome-linux/locales/el.pak.info
.local-chromium/970485/chrome-linux/locales/en-GB.pak
.local-chromium/970485/chrome-linux/locales/en-GB.pak.info
.local-chromium/970485/chrome-linux/locales/en-US.pak
.local-chromium/970485/chrome-linux/locales/en-US.pak.info
.local-chromium/970485/chrome-linux/locales/en-XA.pak
.local-chromium/970485/chrome-linux/locales/en-XA.pak.info
.local-chromium/970485/chrome-linux/locales/es-419.pak
.local-chromium/970485/chrome-linux/locales/es-419.pak.info
.local-chromium/970485/chrome-linux/locales/es.pak
.local-chromium/970485/chrome-linux/locales/es.pak.info
.local-chromium/970485/chrome-linux/locales/et.pak
.local-chromium/970485/chrome-linux/locales/et.pak.info
.local-chromium/970485/chrome-linux/locales/fa.pak
.local-chromium/970485/chrome-linux/locales/fa.pak.info
.local-chromium/970485/chrome-linux/locales/fi.pak
.local-chromium/970485/chrome-linux/locales/fi.pak.info
.local-chromium/970485/chrome-linux/locales/fil.pak
.local-chromium/970485/chrome-linux/locales/fil.pak.info
.local-chromium/970485/chrome-linux/locales/fr.pak
.local-chromium/970485/chrome-linux/locales/fr.pak.info
.local-chromium/970485/chrome-linux/locales/gu.pak
.local-chromium/970485/chrome-linux/locales/gu.pak.info
.local-chromium/970485/chrome-linux/locales/he.pak
.local-chromium/970485/chrome-linux/locales/he.pak.info
.local-chromium/970485/chrome-linux/locales/hi.pak
.local-chromium/970485/chrome-linux/locales/hi.pak.info
.local-chromium/970485/chrome-linux/locales/hr.pak
.local-chromium/970485/chrome-linux/locales/hr.pak.info
.local-chromium/970485/chrome-linux/locales/hu.pak
.local-chromium/970485/chrome-linux/locales/hu.pak.info
.local-chromium/970485/chrome-linux/locales/id.pak
.local-chromium/970485/chrome-linux/locales/id.pak.info
.local-chromium/970485/chrome-linux/locales/it.pak
.local-chromium/970485/chrome-linux/locales/it.pak.info
.local-chromium/970485/chrome-linux/locales/ja.pak
.local-chromium/970485/chrome-linux/locales/ja.pak.info
.local-chromium/970485/chrome-linux/locales/kn.pak
.local-chromium/970485/chrome-linux/locales/kn.pak.info
.local-chromium/970485/chrome-linux/locales/ko.pak
.local-chromium/970485/chrome-linux/locales/ko.pak.info
.local-chromium/970485/chrome-linux/locales/lt.pak
.local-chromium/970485/chrome-linux/locales/lt.pak.info
.local-chromium/970485/chrome-linux/locales/lv.pak
.local-chromium/970485/chrome-linux/locales/lv.pak.info
.local-chromium/970485/chrome-linux/locales/ml.pak
.local-chromium/970485/chrome-linux/locales/ml.pak.info
.local-chromium/970485/chrome-linux/locales/mr.pak
.local-chromium/970485/chrome-linux/locales/mr.pak.info
.local-chromium/970485/chrome-linux/locales/ms.pak
.local-chromium/970485/chrome-linux/locales/ms.pak.info
.local-chromium/970485/chrome-linux/locales/nb.pak
.local-chromium/970485/chrome-linux/locales/nb.pak.info
.local-chromium/970485/chrome-linux/locales/nl.pak
.local-chromium/970485/chrome-linux/locales/nl.pak.info
.local-chromium/970485/chrome-linux/locales/pl.pak
.local-chromium/970485/chrome-linux/locales/pl.pak.info
.local-chromium/970485/chrome-linux/locales/pt-BR.pak
.local-chromium/970485/chrome-linux/locales/pt-BR.pak.info
.local-chromium/970485/chrome-linux/locales/pt-PT.pak
.local-chromium/970485/chrome-linux/locales/pt-PT.pak.info
.local-chromium/970485/chrome-linux/locales/ro.pak
.local-chromium/970485/chrome-linux/locales/ro.pak.info
.local-chromium/970485/chrome-linux/locales/ru.pak
.local-chromium/970485/chrome-linux/locales/ru.pak.info
.local-chromium/970485/chrome-linux/locales/sk.pak
.local-chromium/970485/chrome-linux/locales/sk.pak.info
.local-chromium/970485/chrome-linux/locales/sl.pak
.local-chromium/970485/chrome-linux/locales/sl.pak.info
.local-chromium/970485/chrome-linux/locales/sr.pak
.local-chromium/970485/chrome-linux/locales/sr.pak.info
.local-chromium/970485/chrome-linux/locales/sv.pak
.local-chromium/970485/chrome-linux/locales/sv.pak.info
.local-chromium/970485/chrome-linux/locales/sw.pak
.local-chromium/970485/chrome-linux/locales/sw.pak.info
.local-chromium/970485/chrome-linux/locales/ta.pak
.local-chromium/970485/chrome-linux/locales/ta.pak.info
.local-chromium/970485/chrome-linux/locales/te.pak
.local-chromium/970485/chrome-linux/locales/te.pak.info
.local-chromium/970485/chrome-linux/locales/th.pak
.local-chromium/970485/chrome-linux/locales/th.pak.info
.local-chromium/970485/chrome-linux/locales/tr.pak
.local-chromium/970485/chrome-linux/locales/tr.pak.info
.local-chromium/970485/chrome-linux/locales/uk.pak
.local-chromium/970485/chrome-linux/locales/uk.pak.info
.local-chromium/970485/chrome-linux/locales/vi.pak
.local-chromium/970485/chrome-linux/locales/vi.pak.info
.local-chromium/970485/chrome-linux/locales/zh-CN.pak
.local-chromium/970485/chrome-linux/locales/zh-CN.pak.info
.local-chromium/970485/chrome-linux/locales/zh-TW.pak
.local-chromium/970485/chrome-linux/locales/zh-TW.pak.info
.local-chromium/970485/chrome-linux/resources/inspector_overlay/inspector_overlay_resources.grd
.local-chromium/970485/chrome-linux/resources/inspector_overlay/main.js
.local-chromium/970485/chrome-linux/swiftshader/libEGL.so
.local-chromium/970485/chrome-linux/swiftshader/libGLESv2.so
windows/flutter/generated_plugins.cmake
lib/view/screens/widgets/dashboard/inpuuutttt.dart
lib/view/screens/dump.dart
